body {
    height: 100vh;
    max-width: 100vw;
    color: #DFD9D2;
    background-color: #2F2B28;
    font-family: Trebuchet MS, sans-serif;
    overflow: hidden;
    font-size: 17px;
}

p {
    font-size: 25px;
    color: #DFD9D2;
}

nav {
    grid-area: navbar;
    background-color: lightgreen;
    padding-top: .15em;
    text-align: center;
}

aside {
    grid-area: aside;
    background-color: lightblue;
    text-align: center;
    padding: 1.25em;
    padding-top: 4em;
    font-size: 17px;
}

main {
    grid-area: main;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    width: auto;
    overflow: hidden;
    
}

footer {
    grid-area: footer;
    background-color: orange;
    padding: .5em;
    text-align: center;
    padding-top: 3em;
}

button {
    background-color: #2f2b28;
    border: 2px solid #221E1B;
    color: #DFD9D2;
    box-shadow: none;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 10px;
    transition: background-color .2s ease;
    
}

button:hover {
    background-color: #EEAE46;
    color: #221E1B;
    transition: background-color .2s ease;
    transition: color .2s ease;
}

a:link {
    color: #DFD9D2;
    background-color: transparent;
    text-decoration: none;
}

@media (orientation: landscape) {
    body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "navbar navbar"
    "main aside"
    "footer footer";
    grid-template-rows: 40px 4fr 1.75fr;
    max-width: 100vw;
    max-height: 100vh;
    background-size: cover;
    background-position: center center;
    }
}

@media (orientation: portrait) {
    body {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 
        "navbar navbar"
        "main main"
        "aside aside"
        "footer footer";
        grid-template-rows: 40px 5fr 1fr 8fr;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }

    aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }
}