body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('restaurant-interior-red-background-vector-illustration_1138841-36350.avif');
    background-size: cover;
    background-position: center center;
    background-color: #2f2b28;
}