body {
    background-color: #E6DDC6;
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

nav, footer {
    background-color: #181514;
    text-align: center;
    padding: 2em;
    margin: 0;
    color: #E6DDC6;
}

a:link {
    color: #E6DDC6;
    text-decoration: none;
}

a:visited {
    color: #E6DDC6;
    text-decoration: none;

}

a:hover {
    color: #181514
}

.three-sections {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

/* Individual colored boxes */
.color-box {
    flex: 1;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    color: #E6DDC6;
    min-width: 200px;
}

.box1 {
    background-color: #EBA50D;

}

.box2 {
    background-color: #1BBCB1;
}

.box3 {
    background-color: #BA2338;
}

button {
    background-color: #E6DDC6;
    color: #181514;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        font-weight 0.2s ease,
        transform 0.2s ease;
}

button:hover {
    background-color: #181514;
    color: #E6DDC6;
    font-weight: bold;
    transform: scale(1.03);
}

@media (orientation: portrait) {
    .three-sections {
        flex-direction: column;
        align-items: center;
    }

    .color-box {
        max-width: 500px;
        width: 90%;
    }
}
