/* styles for both Anni Alberts layouts*/

/*by default, let's lay out the first index.html file*/

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
    font-style: italic;
}

p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 50%;
}

p.callout {
    font-size: 1rem;
    line-height: auto;
    font-style: italic;
    margin-left: calc(100% / 1 / 6);
    width: 33.33%
}

#title {
    text-align: center;
}

#section1 {
    margin-left: calc(100% * 1 / 6);
}

#callout1 {
    float: right;
}

#section2 {
    margin-right: calc(100% * 1 / 6);
}

#callout2 {
    float: left;
}
#section3 {
    margin-left: calc(100% * 1 / 6);
}

#callout3 {
    float: right;
}

#section4 {
    margin-right: calc(100% * 1 / 6);
}

#callout4 {
    float: left;
}

#section5 {
    margin-left: calc(100% * 1 / 6);
}