* {
    box-sizing: border-box;
    font-family: math
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#Picture1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific Rhododendron 2 - Gary Monroe-1.jpeg");
    background-size: cover;
    background-position: center center
}

#Title {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#Title h1 {
    position: absolute;
    font-size: 3em;
    width: calc(100vw - 2em);
    bottom: 3em;
    left: 0.5em;
    color: whitesmoke
}

#Paragraph1 {
    text-align: justify;
    padding-right: 1.3em;
    padding-left: 1.3em;
}

#Picture2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific Rhododendron 3 - Gary Monroe-1.jpeg");
    background-size: cover;
    background-position: center center
}

#Paragraph2 {
    text-align: justify;
    padding-right: 1.3em;
    padding-left: 1.3em;
}

#Refrences {
    padding-left: 10em;
    text-align: center;
}

@media screen and (orientation: landscape) {

    #Picture1 {
        width: 150vw
    }

    #Title {
        width: 25vw;
        left: 50vh;
        bottom: 5em;
    }

    #Paragraph1 {
        padding-right: 0em;
        padding-left: 25em;
    }

    #Picture2 {
        width: 75vw;
        height: 75vh;
        margin-left: 250px;
        margin-right: 300px;
    }

    #Paragraph2 {
        padding-right: 0em;
        padding-left: 25em;
    }

    #Button {
        padding-left: 5em;
        padding-top: 1em;
    }

    #toggleDarkMode {
        margin-top: 2em;
        padding-left: 2em;
    }

    body.darkMode {
        background-color: black;
        color: lightpink;
    }

}