* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: x mandatory;
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
    background-color: #7873ac;
}

body {
    overflow-x: scroll; /*Show horizontal scroll*/
	overflow-y: hidden; /*Hide vertical scroll*/
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
    background-color: #7873ac;
}

#page2 { left: 100vw; }
#page3 { left: 200vw; }
#page4 { left: 300vw; }
#page5 { left: 400vw; }

section {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	/* force scroll snap to center of sections = scroll-snap-align: center;*/
	box-shadow: inset 1em 0 1em black, -1em 0 1em black;
}

/*Info for changing all image aspects*/

/*Page 1*/

#drawing1 {
	position: relative;
	padding-left: 5em;
	top: 2em;
}

	#addition1 {
		position: relative;
		top: -90em;
		left: 70em;
	}

#text1 {
	position: relative;
    color: #3e281e;
    font-size: 2.5em;
	font-family: "Times New Roman", Times, serif;
	text-align-last: right;
	bottom: 15em;
	padding-right: 150px;
}

	#addition2 {
		position: relative;
		top: -57em;
		left: 15em;
	}

/*Page 2*/

#drawing2 {
	position: relative;
	bottom: -3em;
	float: right;
	right: 7em;
}

#text2 {
	position: relative;
    color: #3e281e;
    font-size: 2.5em;
	font-family: "Times New Roman", Times, serif;
	padding-left: 5em;
	top: 20em;
	text-align: center;
}

	#addition3 {
		position: relative;
		left: 10em;
		top: 7em;
	}

	#addition4 {
		position: relative;
		top: -70em;
		left: 7em;
	}

	#addition5 {
		position: relative;
		top: -80em;
		left: -13em;
	}

/*Page 3*/

#drawing3 {
	position: relative;
	bottom: 6em;
	left: 15em;
}

#text3 {
	position: relative;
    color: #3e281e;
    font-size: 2.5em;
	font-family: "Times New Roman", Times, serif;
	bottom: 2em;
	text-align: center;
}

	#addition6 {
		position: relative;
		top: -80em;
		left: 50em;
	}

/*Page 4*/

#drawing4 {
	position: relative;
	bottom: 6em;
}

#text4 {
	position: relative;
    color: #3e281e;
    font-size: 3rem;
	font-family: "Times New Roman", Times, serif;
}

/*Page 5*/

#drawing5 {
	position: relative;
	bottom: 6em;
}

#text5 {
	position: relative;
    color: #3e281e;
    font-size: 3rem;
	font-family: "Times New Roman", Times, serif;
}