* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: x mandatory;
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
    background-color: #7873ac;
}

body {
    overflow-x: auto; /*Show horizontal scroll*/
	overflow-y: hidden; /*Hide vertical scroll*/
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
    background-color: #7873ac;
}

p {
	color: #3e281e;
}

#page2 { left: 100vw; }
#page3 { left: 200vw; }
#page4 { left: 300vw; }
#page5 { left: 400vw; }

section {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	scroll-snap-align: center; /* force scroll snap to center of sections */
	box-shadow: inset 1em 0 1em black, -1em 0 1em black;
}