* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: x mandatory;
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
    background-color: #7873ac;
}

body {
    overflow-x: scroll; /*Show horizontal scroll*/
	overflow-y: hidden; /*Hide vertical scroll*/
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
    background-color: #7873ac;
}

p {
	text-align: right;
	position: absolute;
    width: 100%;
    bottom: 10rem;
    left: 300px;
    padding: 1rem;
    text-align: left;
    color: #3e281e;
    font-size: 3rem;
	font-family: "Times New Roman", Times, serif;
}

#page2 { left: 100vw; }
#page3 { left: 200vw; }
#page4 { left: 300vw; }
#page5 { left: 400vw; }

section {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	scroll-snap-align: center; /* force scroll snap to center of sections */
	box-shadow: inset 1em 0 1em black, -1em 0 1em black;
}

/*Info for changing all image aspects*/

#drawing1 {
	position: relative;
	width: 300px;
	height: 300px;
	bottom: 6em;
}

	#add1 {
		position: relative;
		width: 300px;
		height: 300px;
	}

	#add2 {
		position: relative;
		width: 300px;
		height: 300px;
	}

#drawing2 {
	position: relative;
	width: 300px;
	height: 300px;
}

	#add3 {
		position: relative;
		width: 300px;
		height: 300px;
	}

	#add4 {
		position: relative;
		width: 300px;
		height: 300px;
	}

	#add5 {
		position: relative;
		width: 300px;
		height: 300px;
	}

#drawing3 {
	position: relative;
	width: 300px;
	height: 300px;
}

	#add6 {
		position: relative;
		width: 300px;
		height: 300px;
	}

#drawing4 {
	position: relative;
	width: 300px;
	height: 300px;
}

#drawing5 {
	position: relative;
	width: 300px;
	height: 300px;
}