/*planning out photos and words*/

div#photo1 {
    height: ;
}

div#title {

}

div#ingredients1 {

}

div#ingredients2 {

}

div#photo2 {
    
}

div#instructions1 {

}

div#instructions2 {

}

@media screen and (orientation: landscape) {

}

.container {
    display: grid;
    grid-template-rows: 160px 160px 160px 160px 160px 160px 160px 160px 160px 160px;
    grid-template-columns: 160px 160px 160px 160px 160px 160px;
    grid-gap: 1em;
}

.photo1 {
    grid-row: 1 / 3;
    grid-column: 1 / 5;
}