/*planning out photos and words*/


div#photo1 {
    height: ;
}

div#title {

}

div#ingredients1 {

}

div#ingredients2 {

}

div#photo2 {
    
}

div#instructions1 {

}

div#instructions2 {

}

@media screen and (orientation: landscape) {

}

.container {
    display: grid;
    grid-template-rows: 160px 160px 160px 160px 160px 160px 160px 160px 160px 160px;
    grid-template-columns: 160px 160px 160px 160px 160px 160px;
    grid-gap: 1em;
}

.photo1 {
    grid-row: 1 / 4;
    grid-column: 1 / 5;
    padding-left: 15px
}

.title {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

.ingredients1 {
    grid-row: 5 / 9;
    grid-column: 1 / 4;
    padding-left: 50px;
}

.ingredients2 {
    grid-row: ;
    grid-column: ;
}

.photo2 {
    grid-row: ;
    grid-column: ;
}

.instructions1 {
    grid-row: ;
    grid-column: ;
}

.instructions2 {
    grid-row: ;
    grid-column: ;
}