@media (orientation: portrait) {
    .container {
        display: grid;
        grid-template-columns: minmax(auto, 100%) 1fr 1fr 1f4;
        grid-template-rows: auto;
        margin: 1px;
        gap: 1em;
    }

    #photo3 {
        display: none;
    }

    #photo1 {
        width: 100%;
        height: 100%;
        object-fit: contain;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        
    }

    #title {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #ingredients1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #ingredients2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    #photo2 {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    #instructions1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    #instructions2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
    }

}

@media (orientation: landscape) {
    .container {
        display: grid;
        grid-template-columns: minmax(auto, 100%) 1fr 1fr 1f;
        grid-template-rows: auto;
        margin: 1px;
        gap: 1em;
    }

    #photo2 {
        display: none;
    }

    #photo1 {
        width: 100%;
        height: 100%;
        object-fit: contain;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        
    }

    #title {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 20px;
        padding-top: 100px;
        font-size: 25px;
    }

    #ingredients1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #ingredients2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-right: 200px;
    }

    #photo3 {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: ;
        grid-row-end: ;
    }

    #instructions1 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #instructions2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }

}